{% extends 'base.html' %}

{% block content %}
<h1> Правила игры в слова </h1>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;Правила очень простые - первый игрок назвает слово по заданной теме, второй игрок называет слово,
    первая буква которого совпадает с последней буквой слова, названного первым игроком.
    Далее третий игрок и т.д по очереди.<br/>
    &nbsp;&nbsp;&nbsp;
    Если названо слово,заканчивающееся на Й, Ы, Ъ, Ь, следущему игроку нужно придумать слово на предпоследню букву.
    Слова в процессе однного кона игры не должны повторяться.
Темы могут быть любыми, например:<br/>
Города:<br/>
- ПрагA<br/>
- АстрахаНь<br/>
- Нью-Йорк<br/>
- Казань<br/>
- Нижний Новгород<br/>
и т.д.<br/>
Животные:<br/>
- Слон<br/>
- Носорог<br/>
- Газель<br/>
- Лиса<br/>
    и т.д.</h2>
<a href="{% url 'topic' %}"> Приступить к игре </a>
{% endblock content %}